html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
