body{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}
.container{
    display:flex;
    flex-direction:column;
    width:90%;
    margin:0 auto;
}
.block{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}
.btext p{
    margin:0 0 5px 0;
    padding: 10px;
}
.side-block-row{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3vw;
}
.side-block-col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    /* gap: 1vh; */
}
.b1, .b7{
    background:#b3cde0;
    position:relative;
}
.b1 .inner{
    background:#fff;
    padding:5px 10px;
    border:1px solid #333;
}
.b7 .inner{
    background:#fff;
    padding:5px 10px;
    border:1px solid #333;
}

.inner{
    background:#fff;
    padding:5px 0;
    display: flex;
    align-items: flex-start;
    gap: 3vw;
    /* border:1px solid #333; */
}

.inner-bottom{
    background:#fff;
    padding: 0 0;
    margin: 0 0;
    display: flex;
    align-items: flex-start;
    gap: 3vw;
    height: 100%;
    /* border:1px solid #333; */
}

.middle{
    display:flex;
    gap:1vw;
}

.b2{background:#f7d9c4; height: 100%; width: 100%;}
.b3{background:#d9ead3; height: 100%; width: 100%;}
.b4{background:#f7d9c4; height: 100%; width: 100%;}
.b5{background:#ffffff; height: 100%; width: 100%;}
.b6{background:#d9ead3; height: 100%; width: 100%;}
.b7{background:#b3cde0;}

.menu ul{
    list-style:none;
    padding:0;
    margin:0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.menu li{
    margin:5px 0;
}

.menu li:hover{
    background-color:#f0f0f0;
}

.menu a{
    text-decoration:underline;
    color:#000;
    padding: 10px;
}
